{% extends 'base.html' %}
{% block title %}{{ playlist }}{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left playlist Info -->
        <strong class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'login:detail' playlist.id %}">
                    </a>
                    <h1>{{ playlist.Plalyst_title }}</h1>
                </div>
            </div>
                <h2>Add Preferences</h2>

                <ul class="nav nav-pills" style="margin-bottom: 10px;">

                <li role="presentation"><a href="{% url 'login:add_preferences' playlist.id %}">Add New Preferences</a></li>
                </ul>
                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}

                <table class="table">
                        <thead>
                        <tr>
                            <th>Preferences</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for pref in playlist.addpreferences_set.all %}
                            <tr>
                                <td>{{ pref.preferences }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                </table>
            </strong>
        </div>



        </div>




        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">
            <h1>Enter atleast 8 songs </h1>
            <ul class="nav nav-pills" style="margin-bottom: 10px;">

                <li role="presentation"><a href="{% url 'login:create_song' playlist.id %}">Add New Song</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <a href="{% url 'playlist:generate' %}" class="btn btn-primary btn-sm" role="button">Generate Recommendations</a>
                    <h3>All Songs</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for song in playlist.song_set.all %}
                            <tr>
                                <td>{{ song.song_title }}</td>
                                <td>
                                    <form action="{% url 'login:delete_song' playlist.id song.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="song_id" value="{{ song.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>


{% endblock %}
